// Цвета Домодедово (временно)
$primary-light: #ffffff;
$primary-dark: #1a1a1a;
$text-light: #000000;
$text-dark: #ffffff;

// Брейкпоинты
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1440px;