.header {
    width: 100%;
    height: 80px;
    background-color: #{$primary-color-light};
}

.navigation {

}

.navigation__list {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}