.button-primary {
  color: #ffffff;
  background-color: var(--color-primary);
  border-radius: 12px;
  font-size: 1.1rem;
  line-height: var(--font-size-body-line-height);
  padding: 12px 16px;
  width: 100%;
  margin-bottom: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}