:root {
    --primary-color: #{$primary-light};
    --text-color: #{$text-light};
  }
  
  [data-theme="dark"] {
    --primary-color: #{$primary-dark};
    --text-color: #{$text-dark};
  }
  
  body {
    background-color: var(--primary-color);
    color: var(--text-color);
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  