// Контейнеры
$container-max-width: 1280px;
$container-narrow: 960px;
$container-wide: 1440px;
$container-padding: 24px;

.container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $container-padding;
  
    &.narrow {
      max-width: $container-narrow;
    }
  
    &.wide {
      max-width: $container-wide;
    }
  
    &.fluid {
      max-width: 100%;
    }
  
    @media (max-width: 768px) {
      padding: 0 $container-padding / 2;
    }
  }